DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=evidencias_pos
DB_USER=evidencias_app
DB_PASSWORD=cambiar_esta_password
PORT=3000
HOST=0.0.0.0
CORS_ORIGIN=https://rony728.github.io
# Para HTTPS directo, indique ambos archivos. No guarde certificados en Git.
# TLS_CERT_PATH=/data/data/com.termux/files/home/certs/fullchain.pem
# TLS_KEY_PATH=/data/data/com.termux/files/home/certs/privkey.pem
